/* latin-ext */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./font/PlusJakartaSans-Regular.ttf) format("truetype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./font/PlusJakartaSans-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./font/PlusJakartaSans-Medium.ttf) format("truetype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./font/PlusJakartaSans-Medium.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./font/PlusJakartaSans-SemiBold.ttf) format("truetype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./font/PlusJakartaSans-SemiBold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./font/PlusJakartaSans-Bold.ttf) format("truetype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./font/PlusJakartaSans-Bold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(./font/PlusJakartaSans-ExtraBold.ttf) format("truetype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(./font/PlusJakartaSans-ExtraBold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --ligth-bg-0: #efefef;
  --ligth-bg-1: #fafafa;
  --ligth-fg-0: #212121;
  --ligth-fg-1: #555;
  --dark-bg-0: #333333;
  --dark-bg-1: #4a4a4a;
  --dark-fg-0: #ededed;
  --dark-fg-1: #aaa;
  --fs-40: 1rem;
  --fs-50: 1.1rem;
  --fs-60: 1.4rem;
  --fs-70: 2rem;
  --fs-80: 4rem;
  --pad: 1rem;
}

:root {
  --bg-0: var(--ligth-bg-0);
  --bg-1: var(--ligth-bg-1);
  --bg-2: var(--dark-bg-1);
  --fg-0: var(--ligth-fg-0);
  --fg-1: var(--ligth-fg-1);
  --fg-2: var(--dark-fg-0);
  --fg-sel: var(--ligth-bg-1);
  --fg-link: var(--accent-50);
  --accent-text: hsl(19,85%,47.5%);
  --accent-fig: hsl(19,100%,50%);
  --bg-sel: hsl(19,100%,60%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-0: var(--dark-bg-0);
    --bg-1: var(--dark-bg-1);
    --fg-0: var(--dark-fg-0);
    --fg-1: var(--dark-fg-1);
    --fg-link: var(--accent-20);
    --accent-text: hsl(19,95%,65%);
    --accent-fig: hsl(19,85%,55%);
    --bg-sel: hsl(19,95%,42%);
  }
}
body[data-theme=light] {
  --bg-0: var(--ligth-bg-0);
  --bg-1: var(--ligth-bg-1);
  --bg-2: var(--dark-bg-1);
  --fg-0: var(--ligth-fg-0);
  --fg-1: var(--ligth-fg-1);
  --fg-2: var(--dark-fg-0);
  --fg-sel: var(--ligth-bg-1);
  --fg-link: var(--accent-50);
  --accent-text: hsl(19,85%,47.5%);
  --accent-fig: hsl(19,100%,50%);
  --bg-sel: hsl(19,100%,60%);
}

body[data-theme=dark] {
  --bg-0: var(--dark-bg-0);
  --bg-1: var(--dark-bg-1);
  --fg-0: var(--dark-fg-0);
  --fg-1: var(--dark-fg-1);
  --fg-link: var(--accent-20);
  --accent-text: hsl(19,95%,65%);
  --accent-fig: hsl(19,85%,55%);
  --bg-sel: hsl(19,95%,42%);
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

::selection {
  background-color: var(--bg-sel);
  color: var(--fg-sel);
  text-decoration-color: var(--fg-sel);
}

body {
  background-color: var(--bg-0);
  color: var(--fg-0);
  word-spacing: 0.1ch;
}
body.has-nav-open {
  overflow-y: hidden;
}

h1 {
  font-size: var(--fs-80);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-70);
  font-weight: 700;
}

button {
  background: none;
  font-size: 1em;
  border: none;
  color: var(--fg-0);
  cursor: pointer;
  padding: 0.4rem 1rem;
}

a {
  color: var(--accent-text);
  text-decoration-color: currentColor;
}

.water-mark {
  --t: 0;
  position: fixed;
  top: 10rem;
  right: 0;
  z-index: -1;
  transform-origin: bottom right;
  transform: translateY(-100%) rotate(-90deg) translateX(calc(100% * var(--t)));
  font-size: 6rem;
  font-weight: 700;
  color: var(--fg-1);
  opacity: 0.07;
  width: max-content;
}

.bottom-line {
  padding-bottom: 0.25em;
  border-bottom: 2px solid rgba(136, 136, 136, 0.2);
  margin-bottom: 0.45em;
}

svg.divider {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 50rem) {
  :root {
    --fs-40: 1rem;
    --fs-50: 1.15rem;
    --fs-60: 1.5rem;
    --fs-70: 2.5rem;
    --fs-80: 4.5rem;
    --pad: max(2rem, 8vw);
  }
  .center-lg {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }
  .water-mark {
    font-size: max(6rem, 15vw);
  }
}
#page-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0.8rem;
  font-size: var(--fs-50);
  overflow-x: hidden;
  overflow-y: visible;
  transition: transform 200ms ease, background-color 350ms ease;
}
#page-nav.hide {
  transform: translateY(-100%);
  overflow-y: hidden;
}
#page-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid transparent;
  transition: filter 350ms ease, border-bottom-color 350ms ease;
}
#page-nav.down::before {
  background-color: var(--bg-0);
  border-bottom-color: rgba(119, 119, 119, 0.4666666667);
}
#page-nav .logo {
  z-index: 1;
  color: var(--fg-0);
  text-decoration: none;
  margin-right: auto;
}
#page-nav .logo svg {
  display: block;
  height: 2.2em;
  width: auto;
}

#page-content {
  background-color: var(--bg-0);
  transition: transform 350ms ease, filter 350ms ease;
}
#page-content.unfocus {
  transform: translateX(calc(-3 * var(--pad)));
  filter: brightness(0.75);
}

.theme {
  z-index: 110;
  background-color: var(--bg-1);
  border-radius: 1.5em;
  padding: 0.3em;
  display: flex;
  box-shadow: inset 0 0 10px var(--bg-0);
}
.theme label {
  cursor: pointer;
}
.theme label + label {
  margin-left: 0.3em;
}
.theme input {
  display: none;
}
.theme svg {
  display: block;
  height: 1.5em;
  width: 1.5em;
  color: var(--fg-1);
  transition: color 200ms ease;
}
.theme input:checked + svg {
  color: var(--accent-fig);
}
.theme path {
  fill: currentColor;
  transform-origin: center;
}

.links {
  z-index: 1;
  list-style: none;
  display: flex;
}
.links a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--fg-0);
  font-weight: 500;
}
.links .current {
  border-bottom: 2px solid var(--accent-fig);
}

.burger {
  padding: 0;
  z-index: 110;
  margin-left: 1ch;
}
.burger svg {
  display: block;
}
.burger line {
  transform-origin: center center;
  transition: opacity 250ms ease 50ms, transform 350ms ease;
}
.burger line.top {
  transform: translateY(-25%);
}
.burger line.bottom {
  transform: translateY(25%);
}

.burger.active line.middle {
  transition: opacity 250ms ease;
  opacity: 0;
}
.burger.active line.top {
  transform: rotate(-45deg);
}
.burger.active line.bottom {
  transform: rotate(45deg);
}

@media (max-width: 50rem) {
  .links {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 102;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 2rem;
    background-color: var(--bg-1);
    transform: translateX(100%);
    transition: transform 350ms ease;
  }
  .links li + li {
    margin-top: 1rem;
  }
  .links a {
    font-size: var(--fs-60);
  }
  .open .links {
    transform: translateX(0);
  }
}
@media (min-width: 50rem) {
  #page-nav {
    padding: 1rem;
  }
  .burger {
    display: none;
  }
  .links {
    flex-direction: row;
    align-items: center;
  }
  .links li {
    margin-right: 2ch;
  }
}
.stop-growth {
  max-width: 50ch;
}

hr.subtle {
  font-size: var(--fs-80);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid rgba(136, 136, 136, 0.2);
  border-right: none;
  border-left: none;
  border-top: none;
  height: 0;
}

html,
body {
  scroll-behavior: smooth;
}

main {
  padding: var(--pad);
  padding-top: max(6.5rem, var(--pad));
}

h1 {
  margin-bottom: 0.5em;
}

section {
  margin-top: max(7rem, var(--pad));
}

.section-title {
  margin-bottom: 2rem;
  scroll-margin-top: max(3rem, var(--pad));
}

.table-of-contents {
  background-color: var(--bg-1);
  padding: 0.8rem 1.1rem;
  width: max-content;
  max-width: 30ch;
  border-radius: 0.9rem;
  margin-top: 1.5rem;
}
.table-of-contents h2 {
  font-size: var(--fs-60);
}
.table-of-contents ol {
  list-style-position: inside;
  border-left: 2px solid rgba(153, 153, 153, 0.5333333333);
  padding-left: 0.75ch;
}
.table-of-contents li {
  margin-top: 0.5em;
}
.table-of-contents a {
  text-decoration-style: dashed;
  text-decoration-line: underline;
}

@media (min-width: 50rem) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.text-cols {
  column-width: 35ch;
  column-gap: 4rem;
}
.text-cols p,
.text-cols ul {
  margin-bottom: 1rem;
}

.mb {
  margin-bottom: 3.5em;
}

.we-are {
  list-style: decimal-leading-zero;
  list-style-position: inside;
}
.we-are ::marker {
  color: var(--accent-fig);
  font-weight: 500;
}

.cols {
  column-width: 25ch;
  column-gap: 4rem;
  column-rule: dashed 2px var(--fg-1);
}

.division-name {
  font-size: var(--fs-60);
  margin-bottom: 1rem;
}
* + .division-name {
  margin-top: 2.5rem;
}

.division-members {
  list-style: none;
}
.division-members > * {
  margin-bottom: 1rem;
}

.member {
  break-inside: avoid;
  background-color: var(--bg-1);
  padding: 0.4rem 0.7rem;
  border-radius: 0.45rem;
}
.member .name {
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
}
.member .desc {
  opacity: 0.75;
  font-style: italic;
}
.member .title {
  color: var(--accent-text);
}
.member .title::after {
  content: " | ";
  color: var(--fg-1);
}

.pie-chart {
  display: flex;
  align-items: center;
}
.pie-chart .aside {
  margin-left: 2rem;
  max-width: 30ch;
}
.pie-chart h3 {
  margin-bottom: 0.5rem;
}
.pie-chart ul {
  list-style: none;
}
.pie-chart li::before {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.6em;
  background-color: var(--clr);
  margin-right: 0.5ch;
}

.pie-graph {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
}
.pie-graph line.pie-sep {
  stroke-width: 0.2;
  stroke: var(--bg-0);
  stroke-linecap: round;
}
.pie-graph:hover .pie-slice {
  filter: saturate(0.8);
  opacity: 0.4;
}
.pie-graph .pie-slice.active {
  transform: scale(1.1);
  filter: saturate(1);
  opacity: 1;
}

.pie-slice {
  position: relative;
  transform-origin: center;
  transition: transform 0.15s ease;
}
.pie-slice .percentage {
  --df: min(var(--p), 0.5);
  font-size: 1.5px;
  fill: white;
  transform: translate(calc(var(--dx) * 8px * (1 - var(--df))), calc(var(--dy) * 8px * (1 - var(--df))));
}
.pie-slice.active .percentage {
  transform: scale(0);
}

#pies {
  position: relative;
}

#floating-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  background-color: var(--bg-1);
  color: var(--fg-0);
  font-weight: 500;
  padding: 0.3em 0.6em;
  border-radius: 0.3em;
}
#floating-label.show {
  transform: translate(calc(var(--mx) + 1.5ch), calc(var(--my) - 50%));
}

/*# sourceMappingURL=about.css.map */
