@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("./font/normal/PlusJakartaSans-Regular.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("./font/normal/PlusJakartaSans-Medium.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("./font/normal/PlusJakartaSans-Bold.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --light-bg-0: #efefef;
  --light-bg-1: #fafafa;
  --light-fg-0: #212121;
  --light-fg-1: #555;
  --dark-bg-0: #333333;
  --dark-bg-1: #4a4a4a;
  --dark-fg-0: #ededed;
  --dark-fg-1: #b6b6b6;
  --fs-40: 1rem;
  --fs-50: 1.1rem;
  --fs-60: 1.4rem;
  --fs-70: 2rem;
  --fs-80: 4rem;
  --pad: 1rem;
}

:root {
  --bg-0: var(--light-bg-0);
  --bg-1: var(--light-bg-1);
  --bg-2: var(--dark-bg-1);
  --fg-0: var(--light-fg-0);
  --fg-1: var(--light-fg-1);
  --fg-2: var(--dark-fg-0);
  --fg-sel: var(--light-bg-1);
  --fg-link: var(--accent-50);
  --accent-text: hsl(19,85%,47.5%);
  --accent-fig: hsl(19,100%,50%);
  --bg-sel: hsl(19,100%,60%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-0: var(--dark-bg-0);
    --bg-1: var(--dark-bg-1);
    --fg-0: var(--dark-fg-0);
    --fg-1: var(--dark-fg-1);
    --fg-link: var(--accent-20);
    --accent-text: hsl(19,95%,65%);
    --accent-fig: hsl(19,85%,55%);
    --bg-sel: hsl(19,95%,42%);
  }
}
body[data-theme=light] {
  --bg-0: var(--light-bg-0);
  --bg-1: var(--light-bg-1);
  --bg-2: var(--dark-bg-1);
  --fg-0: var(--light-fg-0);
  --fg-1: var(--light-fg-1);
  --fg-2: var(--dark-fg-0);
  --fg-sel: var(--light-bg-1);
  --fg-link: var(--accent-50);
  --accent-text: hsl(19,85%,47.5%);
  --accent-fig: hsl(19,100%,50%);
  --bg-sel: hsl(19,100%,60%);
}

body[data-theme=dark] {
  --bg-0: var(--dark-bg-0);
  --bg-1: var(--dark-bg-1);
  --fg-0: var(--dark-fg-0);
  --fg-1: var(--dark-fg-1);
  --fg-link: var(--accent-20);
  --accent-text: hsl(19,95%,65%);
  --accent-fig: hsl(19,85%,55%);
  --bg-sel: hsl(19,95%,42%);
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

::selection {
  background-color: var(--bg-sel);
  color: var(--fg-sel);
  text-decoration-color: var(--fg-sel);
}

body {
  background-color: var(--bg-0);
  color: var(--fg-0);
  word-spacing: 0.1ch;
}
body.has-nav-open {
  overflow-y: hidden;
}

h1 {
  font-size: var(--fs-80);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-70);
  font-weight: 700;
}

button {
  background: none;
  font-size: 1em;
  border: none;
  color: var(--fg-0);
  cursor: pointer;
  padding: 0.4rem 1rem;
}

a {
  color: var(--accent-text);
  text-decoration-color: currentColor;
}

.water-mark {
  --t: 0;
  position: fixed;
  top: 10rem;
  right: 0;
  z-index: -1;
  transform-origin: bottom right;
  transform: translateY(-100%) rotate(-90deg) translateX(calc(100% * var(--t)));
  font-size: 6rem;
  font-weight: 700;
  color: var(--fg-1);
  opacity: 0.07;
  width: max-content;
}

.bottom-line {
  padding-bottom: 0.25em;
  border-bottom: 2px solid rgba(136, 136, 136, 0.2);
  margin-bottom: 0.45em;
}

svg.divider {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 50rem) {
  :root {
    --fs-40: 1rem;
    --fs-50: 1.15rem;
    --fs-60: 1.5rem;
    --fs-70: 2.5rem;
    --fs-80: 4.5rem;
    --pad: max(2rem, 8vw);
  }
  .center-lg {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }
  .water-mark {
    font-size: max(6rem, 15vw);
  }
}
#page-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0.8rem;
  font-size: var(--fs-50);
  overflow-x: hidden;
  overflow-y: visible;
  transition: transform 200ms ease, background-color 350ms ease;
}
#page-nav.hide {
  transform: translateY(-100%);
  overflow-y: hidden;
}
#page-nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid transparent;
  transition: filter 350ms ease, border-bottom-color 350ms ease;
}
#page-nav.down::before {
  background-color: var(--bg-0);
  border-bottom-color: rgba(119, 119, 119, 0.4666666667);
}
#page-nav .logo {
  z-index: 1;
  color: var(--fg-0);
  text-decoration: none;
  margin-right: auto;
}
#page-nav .logo svg {
  display: block;
  height: 2.2em;
  width: auto;
}

#page-content {
  background-color: var(--bg-0);
  transition: transform 350ms ease, filter 350ms ease;
}
#page-content.unfocus {
  transform: translateX(calc(-3 * var(--pad)));
  filter: brightness(0.75);
}

.theme {
  z-index: 110;
  background-color: var(--bg-1);
  border-radius: 1.5em;
  padding: 0.3em;
  display: flex;
  box-shadow: inset 0 0 10px var(--bg-0);
}
.theme label {
  cursor: pointer;
}
.theme label + label {
  margin-left: 0.3em;
}
.theme input {
  display: none;
}
.theme svg {
  display: block;
  height: 1.5em;
  width: 1.5em;
  color: var(--fg-1);
  transition: color 200ms ease;
}
.theme input:checked + svg {
  color: var(--accent-fig);
}
.theme path {
  fill: currentColor;
  transform-origin: center;
}

.links {
  z-index: 1;
  list-style: none;
  display: flex;
}
.links a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--fg-0);
  font-weight: 500;
}
.links .current {
  border-bottom: 2px solid var(--accent-fig);
}

.burger {
  padding: 0;
  z-index: 110;
  margin-left: 1ch;
}
.burger svg {
  display: block;
}
.burger line {
  transform-origin: center center;
  transition: opacity 250ms ease 50ms, transform 350ms ease;
}
.burger line.top {
  transform: translateY(-25%);
}
.burger line.bottom {
  transform: translateY(25%);
}

.burger.active line.middle {
  transition: opacity 250ms ease;
  opacity: 0;
}
.burger.active line.top {
  transform: rotate(-45deg);
}
.burger.active line.bottom {
  transform: rotate(45deg);
}

@media (max-width: 50rem) {
  .links {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 102;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 2rem;
    background-color: var(--bg-1);
    transform: translateX(100%);
    transition: transform 350ms ease;
  }
  .links li + li {
    margin-top: 1rem;
  }
  .links a {
    font-size: var(--fs-60);
  }
  .open .links {
    transform: translateX(0);
  }
}
@media (min-width: 50rem) {
  #page-nav {
    padding: 1rem;
  }
  .burger {
    display: none;
  }
  .links {
    flex-direction: row;
    align-items: center;
  }
  .links li {
    margin-right: 2ch;
  }
}
.stop-growth {
  max-width: 50ch;
}

hr.subtle {
  font-size: var(--fs-80);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid rgba(136, 136, 136, 0.2);
  border-right: none;
  border-left: none;
  border-top: none;
  height: 0;
}

body {
  overflow-y: scroll;
}

main {
  padding: var(--pad);
  padding-top: max(6.5rem, var(--pad));
}

h2 {
  margin-top: 10rem;
  margin-bottom: 1rem;
}

abbr {
  text-decoration: none;
}

section.center {
  max-width: 75ch;
  margin-left: auto;
  margin-right: auto;
}

.position-labels,
.position summary {
  padding: 0.5rem 0.8rem;
}

.code-label {
  font-family: "Anonymous Pro", monospace;
  width: 11ch;
  max-width: 11ch;
  min-width: 11ch;
}

.lp-pos,
.position {
  background-color: var(--bg-1);
  border-radius: 0.5rem;
}
.lp-pos hr,
.position hr {
  border: none;
  border-bottom: 2px solid hsla(0deg, 0%, 80%, 0.5);
}
.lp-pos .content,
.position .content {
  padding: 0.6rem 0.8rem;
}
.lp-pos h4:not(:first-child),
.position h4:not(:first-child) {
  margin-top: 1.2rem;
}
.lp-pos h4,
.position h4 {
  margin-bottom: 0.5rem;
}
.lp-pos ul,
.position ul {
  padding-left: 2ch;
}
.lp-pos .code,
.position .code {
  font-family: "Anonymous Pro", monospace;
  color: var(--accent-text);
}

.position + .position {
  margin-top: 1rem;
}

.na {
  opacity: 0.5;
}

.position.multiple table {
  border-collapse: collapse;
}
.position.multiple td {
  width: 33.3333%;
}

#faqs-section hr {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height: 0;
  border: none;
  border-top: 2px solid rgba(136, 136, 136, 0.4);
}

.question {
  opacity: 0.4;
  transition: opacity 0.1s ease;
  margin: clamp(3.5rem, 12vh, 12rem) 0;
  cursor: pointer;
}
.question.focus {
  opacity: 1;
  cursor: auto;
}
.question h3 {
  margin-bottom: 1rem;
}

@media (min-width: 50rem) {
  h2 {
    text-align: center;
  }
  .question {
    display: flex;
    align-items: center;
  }
  .question h3 {
    width: 35%;
    text-align: right;
    margin-bottom: 0;
  }
  .question .response {
    margin-left: 10%;
    width: 55%;
  }
}
p + ul {
  margin-top: 0.25rem;
}

ul + p,
p + p {
  margin-top: 0.5rem;
}

p em {
  font-weight: 500;
}

em {
  font-style: normal;
  color: var(--accent-text);
}

footer {
  background-color: var(--bg-2);
  color: var(--fg-2);
  padding: var(--pad);
  padding-top: 0;
  text-align: center;
}

@media (max-width: 50rem) {
  .on-lg {
    display: none;
  }
  .position summary {
    display: flex;
    flex-direction: column;
  }
  .position.multiple thead td {
    padding-top: 0.25rem;
    font-style: italic;
  }
  .position.multiple tbody td {
    padding-top: 0.1rem;
    padding-left: 0.4ch;
  }
  .position h3 {
    margin-bottom: 0.2rem;
  }
  .position h3::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin-bottom: 0.2rem;
    margin-right: 0.6ch;
    border-left: 0.3rem solid currentColor;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    transform: translateX(1px);
    transition: transform 150ms;
  }
  .position details[open] h3::before {
    transform: translateX(1px) rotate(90deg);
  }
}
@media (min-width: 50rem) {
  .on-sm {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    transform: scale(0);
  }
  .position-labels,
.position summary {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr) auto 0.3rem;
    grid-auto-flow: dense;
    align-items: center;
    column-gap: 1rem;
  }
  .position summary .code {
    grid-column: -3/-2;
  }
  .position summary::after {
    content: "";
    width: 0;
    height: 0;
    border-right: 0.3rem solid currentColor;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    transform: translateX(-1px);
    transition: transform 150ms;
  }
  .position details[open] summary::after {
    transform: translateX(-1px) rotate(-90deg);
  }
  .position.multiple table {
    grid-column: 2/5;
    width: 100%;
  }
  .position.multiple td:nth-child(1) {
    padding-right: 0.6666666667rem;
  }
  .position.multiple td:nth-child(2) {
    padding-left: 0.3333333333rem;
    padding-right: 0.3333333333rem;
  }
  .position.multiple td:nth-child(3) {
    padding-left: 0.6666666667rem;
  }
  .liquid-propulsion .position-labels,
.liquid-propulsion .position summary {
    grid-template-columns: 2fr 1fr auto 0.3rem;
  }
}

/*# sourceMappingURL=apply.css.map */
