/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --ligth-bg-0: #efefef;
    --ligth-bg-1: #fafafa;
    --ligth-fg: #212121;

    --dark-bg-0: #333;
    --dark-bg-1: #4a4a4a;
    --dark-fg: #ededed;
    
    --bg-0: var(--ligth-bg-0);
    --bg-1: var(--ligth-bg-1);
    --fg: var(--ligth-fg);

    --fs-40: 1rem;
    --fs-50: 1.1rem;
    --fs-60: 1.4rem;
    --fs-70: 2rem;
    --fs-80: 4rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-0: var(--dark-bg-0);
        --bg-1: var(--dark-bg-1);
        --fg: var(--dark-fg);
    }
}

@media (min-width: 50rem) {
    :root {
        --fs-40: 1rem;
        --fs-50: 1.15rem;
        --fs-60: 1.5rem;
        --fs-70: 2.2rem;
        --fs-80: 4.5rem;
    }
}

body.ligth {
    --bg-0: var(--ligth-bg-0);
    --bg-1: var(--ligth-bg-1);
    --fg: var(--ligth-fg);
}

body.dark {
    --bg-0: var(--dark-bg-0);
    --bg-1: var(--dark-bg-1);
    --fg: var(--dark-fg);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
    background: none;
    font-size: 1em;
    border: none;
    color: var(--fg);
    cursor: pointer;
    padding: .4rem 1rem;
}

html { height: 100%; }

body {
    height: 100%;
    background-color: var(--bg-0);
    color: var(--fg);
}

header {
    min-height: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.header__canvas {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.scene-progress {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    --p: 0;
    display: block;
    width: 100%;
    height: .1rem;
    background-color: coral;
    clip-path: inset(0 calc((1 - var(--p)) * 100%) 0 0);
    transition: clip-path 150ms ease, opacity 350ms ease;
}
.scene-progress.hide { opacity: 0; }

.header__text {
    position: relative;
    z-index: 10;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto auto 3fr;
    justify-items: start;
    padding: 2rem;
}
.header__text::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-0);
    opacity: .2;
}

h1 {
    font-size: var(--fs-80);
    font-weight: 700;
    grid-row: 2;
}

.header__desc {
    margin-top: 1rem;
    font-size: var(--fs-70);
    font-weight: 500;
    animation-delay: 630ms;
    animation-duration: .4s;
    grid-row: 3;
}

.header__discover {
    display: block;
    justify-self: center;
    align-self: end;
    grid-row: 4;
    font-size: var(--fs-50);
}

@media (min-width: 50rem) {
    .header__text {
        padding: 3rem;
        justify-items: center;
    }
}

.slide-up {
    position: relative;
    animation-name: slide-up;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

.slide-down {
    position: relative;
    animation-name: slide-down;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

h1 span {
    display: inline-block;
    animation-duration: 500ms;
}
h1 span:nth-of-type(2) { animation-delay: 75ms; }
h1 span:nth-of-type(3) { animation-delay: 150ms; }

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(80%);
        clip-path: inset(0 0 80% 0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        clip-path: inset(0 0 0 0);
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-80%);
        clip-path: inset(80% 0 0 0);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        clip-path: inset(0 0 0 0);
    }
}

.fade-in {
    animation-name: fade-in;
    animation-duration: .5s;
}

.after-title {
    animation-fill-mode: both;
    animation-delay: 630ms;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.go-down {
    display: block;
    width: 2rem;
    margin-top: .6rem;
    margin-left: auto;
    margin-right: auto;
}
.go-down path {
    animation-name: alternating-opacity;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-duration: 1.2s;
}
.go-down path:nth-child(1) { animation-delay: .63s; }
.go-down path:nth-child(2) { animation-delay: 1.03s; }
.go-down path:nth-child(3) { animation-delay: 1.43s; }

@keyframes alternating-opacity {
    0% {
        opacity: .3;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: .3;
    }
}

