:root {
    --ligth-bg-0: #efefef;
    --ligth-bg-1: #fafafa;
    --ligth-fg: #212121;

    --dark-bg-0: #333;
    --dark-bg-1: #4a4a4a;
    --dark-bg: #e8e8e8;
    
    --bg-0: var(--ligth-bg-0);
    --bg-1: var(--ligth-bg-1);
    --fg: var(var(--ligth-fg));
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-0: var(--dark-bg-0);
        --bg-1: var(--dark-bg-1);
        --fg: var(var(--dark-fg));
    }
}

body.ligth {
    --bg-0: var(--ligth-bg-0);
    --bg-1: var(--ligth-bg-1);
    --fg: var(var(--ligth-fg));
}

body.dark {
    --bg-0: var(--dark-bg-0);
    --bg-1: var(--dark-bg-1);
    --fg: var(var(--dark-fg));
}

:where(button) {
    background: none;
    font-size: 1em;
    border: none;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-0);
    color: var(--fg);
}