@use "./font.scss" as *;
@use "utils.scss";
@include font(400, true);
@include font(600);

@import "./base.scss";

html,
body {
    scroll-behavior: smooth;
}
main {
    padding: var(--pad);
    padding-top: max(6.5rem, var(--pad));
}
h1 {
    margin-bottom: .5em;
}
h2 {
    margin-bottom: 2rem;
    margin-bottom: clamp(2rem, 3vw, 4rem);
}
section {
    margin-top: max(7rem, var(--pad));
}
.section-title {
    margin-bottom: 2rem;
    scroll-margin-top: max(3rem, var(--pad));
}

.table-of-contents {
    @include utils.table-of-contents;
}
@media (min-width: $width-th-1) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.text-cols {
    column-width: 35ch;
    column-gap: 4rem;

    p, 
    ul {
        margin-bottom: 1rem;
    }
    // p::first-letter {
    //     font-size: 3rem;
    //     font-weight: 600;
    //     color: var(--accent-fig);
    //     float: left;
    //     margin-right: .1ch;
    // }
}

.mb {
    margin-bottom: 4.5em;
}

.we-are {
    list-style: decimal-leading-zero;
    list-style-position: inside;

    ::marker {
        color: var(--accent-fig);
        font-weight: 500;
    }
}

.cols {
    column-width: 25ch;
    column-gap: 4rem;
    column-rule: dashed 2px var(--fg-1);
}

.socials {
    display: flex;
    margin-left: -.22rem;
    margin-right: -.22rem;

    a:hover {
        transform: scale(1.1);
    }
    a + a {
        margin-left: .15rem;
    }
}

.social {
    text-decoration: none;

    svg {
        display: block;
        width: 2.2rem;
        height: 2.2rem;
    }

    &:hover svg {
        animation: shake .25s ease;
    }
}
.social--explicit {
    display: flex;
    align-items: center;

    span {
        text-decoration: underline;
        font-weight: 600;
    }
}

.key-figure {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: var(--bg-1);
    border-radius: .6rem;
    overflow: hidden;

    .role {
        font-size: var(--fs-50);
        font-weight: 600;
        color: var(--accent-text);
    }
    img {
        max-width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        // filter: grayscale(0.7);
    }
    .name {
        font-size: var(--fs-65);
    }
    .body {
        padding: 1rem;
    }
    p {
        margin-top: .7rem;
        opacity: 0.95;
    }
    .contacts {
        margin-top: .7rem;
        list-style: none;
        --bg: var(--bg-1);
        --fg: var(--fg-1);
    }
}

.lead-list {
    list-style: none;
}
.lead-card {
    display: flex;
    align-items: center;
    max-width: 100%;

    img {
        width: 6rem;
        height: 6rem;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 1rem;
        border: 2px solid #8884;
    }
    .lead__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > * {
            margin-top: .1rem;
            margin-bottom: .1rem;
        }
    }

    .name {
        font-weight: 600;
        font-size: 1.2rem;
    }

    a {
        --fg: rgba(160,160,160,0.7);
        --bg: var(--bg-0);
    }
    a:hover {
        --fg: var(--accent-fig);
        opacity: 0.9;
    }
}

@keyframes shake {
    0% { transform: rotate(0); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(0); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0); }
}

.division-name {
    font-size: var(--fs-60);
    margin-bottom: 1rem;
    * + & {
        margin-top: 2.5rem;
    }
}
.no-list {
    list-style: none;
}

.member {
    break-inside: avoid;
    background-color: var(--bg-1);
    padding: .4rem .7rem;
    border-radius: .45rem;
    margin-bottom: 1rem;

    .name {
        font-size: 1.1rem;
        font-weight: 500;
        display: block;
        margin-right: -.3rem;
    }
    .desc {
        color: var(--fg-1);
        font-style: italic;
    }
    .title {
        color: var(--accent-text);
        &::after {
            content: " | ";
            color: var(--fg-1);
        }
    }

}
.member > .socials {
    float: right;
    position: relative;
    right: -.3rem;
    display: flex;

    a {
        --fg: #b3b3b3ba;
        --bg: var(--bg-1);
    }
    a:hover {
        --fg: var(--fg-1);
    }
}

$pie-graph-size: 16rem;

.pie-chart {
    display: flex;
    align-items: center;

    h3 {
        margin-bottom: .5rem;
    }
    ul {
        list-style: none;
    }
    
    li::after,
    li::before {
        display: inline-block;
        width: .9em;
        height: .6em;
        background-color: var(--clr);
    }
    li::before {
        content: '';
        margin-right: .5ch;
    }

    .hidden {
        display: none;
    }
}

.pie-graph {
    width: $pie-graph-size;
    height: $pie-graph-size;
    border-radius: 50%;
    flex-shrink: 0;
    
    line.pie-sep {
        stroke-width: .2;
        stroke: var(--bg-0);
        stroke-linecap: round;
    }

    &:hover .pie-slice {
        filter: saturate(.8);
        opacity: 0.4;
    }
    .pie-slice.active {
        transform: scale(1.1);
        filter: saturate(1);
        opacity: 1;
    }
}

.pie-slice {
    position: relative;
    transform-origin: center;
    transition: transform .15s ease;

    .percentage {
        --df: min(var(--p) * var(--p) * 12, 0.5);
        font-size: clamp(1px, var(--p) * var(--p) * 100px, 1.5px);

        fill: white;
        transform: translate(
            calc(var(--dx) * 8.5px * (1 - var(--df))),
            calc(var(--dy) * 8.5px * (1 - var(--df)))
        );
    }

    &.active .percentage { transform: scale(0); }
}

.pies-container {
    position: relative;
}

.pie-floating-label {
    position: absolute;
    top: 0;
    left: 0;

    .text {
        top: 0;
        left: 0;
        transform: scale(0);
        display: inline-block;
        background-color: var(--bg-1);
        color: var(--fg-0);
        font-weight: 500;
        padding: .3em .6em;
        border-radius: .3em;
    }
    .pointer {
        position: absolute;
        top: -1.07rem;
        left: -.5rem;
        width: 1rem;
        height: .5rem;
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
        background-color: var(--bg-1);
        transform: scale(0);
    }
}

@media (max-width: $width-th-1) {
    .lead-list > li {
        margin-bottom: 1.5rem;
    }
    .pie-chart {
        flex-direction: column;
        margin: 3rem 0;
    }
    .aside {
        margin-top: 1rem;
        max-width: $pie-graph-size;
    }
    .pie-floating-label.show {
        .text {
            transform: translate(
                calc(var(--mx) - min(50%, var(--dl) - .5rem) - max(.1px, 50% + .5rem + var(--dl) - 100vw)),
                calc(var(--my) - 100% - 1rem)
            );
        }
        .pointer {
            transform: translate(var(--mx), var(--my));
        }
    }
}

@media (min-width: 30rem) and (max-width: 70rem) {
    .key-figure {
        flex-direction: row;
        $img-w: 40%;

        img { width: $img-w;}
        .text {width: 100% - $img-w;}
    }
}

@media (min-width: $width-th-1) {
    h2.center {text-align: center;}
    .lead-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3ch;
    }
    .lead-card:nth-child(2n-1) {
        flex-direction: row-reverse;

        img {
            margin-right: 0;
            margin-left: 1rem;
        }

        .lead__info {
            align-items: flex-end;
            text-align: right;
        }
        .socials {
            flex-direction: row-reverse;
        }
    }
    .aside {
        margin-left: 2rem;
    }
    .pie-floating-label.show .text {
        transform: translate(
            calc(var(--mx) + 1.5ch), 
            calc(var(--my) - 50%)
        );
    }
    .pies-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, $pie-graph-size + 20rem);
        gap: 3.5rem;
    }
}
    
@media (min-width: 70rem) {
    .key-figure-list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
    .key-figure .body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .text {
            margin-bottom: 1.5rem;
        }
    }
}

@media (min-width: 85rem) {
    section {
        max-width: 85rem;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        text-align: center;
    }
    .pies-container {
        grid-template-columns: 1fr 1fr;
    }
    .pie-chart:nth-child(2n-1) {
        flex-direction: row-reverse;
        text-align: right;

        li::before {
            content: unset;
        }
        li::after {
            content: '';
            margin-left: .5ch;
        }

        .aside {
            margin-left: 0;
            margin-right: 2rem;
        }
    }
}