@import "./base.scss";

html,
body {
    scroll-behavior: smooth;
}
main {
    padding: var(--pad);
    padding-top: max(6.5rem, var(--pad));
}
h1 {
    margin-bottom: .5em;
}
section {
    margin-top: max(7rem, var(--pad));
}
.section-title {
    margin-bottom: 2rem;
    scroll-margin-top: max(3rem, var(--pad));
}

.table-of-contents {
    background-color: var(--bg-1);
    padding: .8rem 1.1rem;
    width: max-content;
    max-width: 30ch;
    border-radius: .9rem;
    margin-top: 1.5rem;

    h2 {
        font-size: var(--fs-60);
    }
    ol {
        list-style-position: inside;
        border-left: 2px solid #9998;
        padding-left: .75ch;
    }
    li {
        margin-top: .5em;
    }
    a {
        text-decoration-style: dashed;
        text-decoration-line: underline;
    }
}
@media (min-width: $width-th-1) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

// .collapsible {
//     overflow-y: hidden;
//     transition: height 5s ease;
//     height: var(--h);
    
//     &[data-state="open"] {
//         height: auto;
//     }
//     &[data-state="opening"] {
//         height: var(--h);
//     }
//     &[data-state="closing"],
//     &[data-state="closed"] {
//         height: 0;
//     }

//     .collapsible__content { width: 100%; }
// }


.text-cols {
    column-width: 35ch;
    column-gap: 4rem;

    p, 
    ul {
        margin-bottom: 1rem;
    }
    // p::first-letter {
    //     font-size: 3rem;
    //     font-weight: 600;
    //     color: var(--accent-fig);
    //     float: left;
    //     margin-right: .1ch;
    // }
}

.mb {
    margin-bottom: 3.5em;
}

.we-are {
    list-style: decimal-leading-zero;
    list-style-position: inside;

    ::marker {
        color: var(--accent-fig);
        font-weight: 500;
    }
}

.cols {
    column-width: 25ch;
    column-gap: 4rem;
    column-rule: dashed 2px var(--fg-1);
}

.division-name {
    font-size: var(--fs-60);
    margin-bottom: 1rem;
    * + & {
        margin-top: 2.5rem;
    }
}
.division-members {
    list-style: none;
    & > * {
        margin-bottom: 1rem;
    }
}

.member {
    break-inside: avoid;
    background-color: var(--bg-1);
    padding: .4rem .7rem;
    border-radius: .45rem;

    .name {
        font-size: 1.1rem;
        font-weight: 500;
        display: block;
    }
    .desc {
        opacity: .75;
        font-style: italic;
    }
    .title {
        color: var(--accent-text);
        &::after {
            content: " | ";
            color: var(--fg-1);
        }
    }
}