@import "./base.scss";


main {
    padding: var(--pad);
    padding-top: max(6.5rem, var(--pad));
}
section {
    margin-top: 6rem;
}
h2 {
    margin-bottom: 2rem;
}

.cols {
    column-width: 25ch;
    column-gap: 4rem;
    column-rule: dashed 2px var(--fg-1);
}

.division-name {
    font-size: var(--fs-60);
    margin-bottom: 1rem;
    * + & {
        margin-top: 2.5rem;
    }
}
.division-members {
    list-style: none;
    & > * {
        margin-bottom: 1rem;
    }
}

.member {
    break-inside: avoid;
    background-color: var(--bg-1);
    padding: .4rem .7rem;
    border-radius: .45rem;

    .name {
        font-size: 1.1rem;
        font-weight: 500;
        display: block;
    }
    .desc {
        opacity: .75;
        font-style: italic;
    }
    .title {
        color: var(--accent-30);
        &::after {
            content: " | ";
            color: var(--fg-1);
        }
    }
}

.member.co-founder .desc::before {
    content: "Co-founder | ";
    color: var(--accent-20);
}