@use "sass:math";
@import "./base.scss";
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

body {
    overflow-y: scroll;
}
main {
    padding: var(--pad);
    padding-top: max(6.5rem, var(--pad));
}

h2 {
    margin-top: 10rem;
    margin-bottom: 1rem;
}
abbr {
    text-decoration: none;
}

section.center {
    max-width: 75ch;
    margin-left: auto;
    margin-right: auto;
}

$details-radius: .5rem;
$details-pad-x: .8rem;
$details-pad-y: .5rem;
$details-border: 2px solid #b3b3b3ba;

.position-labels,
.position summary {
    padding: $details-pad-y $details-pad-x;
}
.code-label {
    font-family: 'Anonymous Pro', monospace;
    width: 11ch;
    max-width: 11ch;
    min-width: 11ch;
}

.lp-pos,
.position {
    background-color: var(--bg-1);
    border-radius: $details-radius;

    hr {
        border: none;
        border-bottom: 2px solid hsla(0, 0%, 80%, 0.5);
    }
    .content {
        padding: .6rem .8rem;
    }
    h4:not(:first-child) {
        margin-top: 1.2rem;
    }
    h4 {
        margin-bottom: .5rem;
    }
    ul {
        padding-left: 2ch;
    }
    .code {
        font-family: 'Anonymous Pro', monospace;
        color: var(--accent-text);
    }
}
.position + .position {
    margin-top: 1rem;
}
.na {opacity: .5;}
.position.multiple {
    table {
        border-collapse: collapse;
    }
    td {
        width: 33.3333%;
    }
}

$faq-radius: .8rem;
$faq-padding: .9rem 1.3rem;

#faqs-section {
    hr {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
        height: 0;
        border: none;
        border-top: 2px solid #8886;
    }
}

.question {
    opacity: 0.4;
    transition: opacity .1s ease;
    margin: clamp(3.5rem, 12vh, 12rem) 0;
    cursor: pointer;

    &.focus {
        opacity: 1;
        cursor: auto;
    }

    h3 {
        margin-bottom: 1rem;
    }
}

@media (min-width: $width-th-1) {
    h2 {
        text-align: center;
    }
    .question {
        display: flex;
        align-items: center;

        h3 {
            width: 35%;
            text-align: right;
            margin-bottom: 0;
        }
        .response {
            margin-left: 10%;
            width: 55%;
        }
    }
}

p + ul {
    margin-top: .25rem;
}

ul + p,
p + p {
    margin-top: .5rem;
}
p em {
    font-weight: 500;
}

em {
    font-style: normal;
    color: var(--accent-text);
}

footer {
    background-color: var(--bg-2);
    color: var(--fg-2);
    padding: var(--pad);
    padding-top: 0;
    text-align: center;
}

$marker-dim: .3rem;

@media (max-width: $width-th-1) {
    .on-lg { display: none; }
    .position summary {
        display: flex;
        flex-direction: column;
    }
    .position.multiple {
        thead td {
            padding-top: .25rem;
            font-style: italic;
        }
        tbody td {
            padding-top: .1rem;
            padding-left: .4ch;
        }
    }
    .position h3 {
        margin-bottom: .2rem;
    }
    .position h3::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        margin-bottom: .2rem;
        margin-right: .6ch;
        border-left: $marker-dim solid currentColor;
        border-top: $marker-dim solid transparent;
        border-bottom: $marker-dim solid transparent;
        transform: translateX(1px);
        transition: transform 150ms;
    }
    .position details[open] h3::before {
        transform: translateX(1px) rotate(90deg);
    }
}

$position-gap: 1rem;
$position-gap-third: math.div($position-gap, 3);

@media (min-width: $width-th-1) {
    .on-sm {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        transform: scale(0);
    }
    .position-labels,
    .position summary {
        display: grid;
        grid-template-columns: 2fr repeat(3, 1fr) auto $marker-dim;
        grid-auto-flow: dense;
        align-items: center;
        column-gap: $position-gap;
    }
    .position summary .code {
        grid-column: -3/-2;
    }
    .position summary::after {
        content: '';
        width: 0;
        height: 0;
        border-right: $marker-dim solid currentColor;
        border-top: $marker-dim solid transparent;
        border-bottom: $marker-dim solid transparent;
        transform: translateX(-1px);
        transition: transform 150ms;
    }
    .position details[open] summary::after {
        transform: translateX(-1px) rotate(-90deg);
    }
    .position.multiple table {
        grid-column: 2/5;
        width: 100%;
    }
    .position.multiple td {
        &:nth-child(1) {
            padding-right: 2*$position-gap-third;
        }
        &:nth-child(2) {
            padding-left: $position-gap-third;
            padding-right: $position-gap-third;
        }
        &:nth-child(3) {
            padding-left: 2*$position-gap-third;
        }
    }

    .liquid-propulsion .position-labels,
    .liquid-propulsion .position summary {
        grid-template-columns: 2fr 1fr auto $marker-dim;
    }
}