@use "./font.scss";

$accent-hue: 12;

:root {
    --ligth-bg-0: #efefef;
    --ligth-bg-1: #fafafa;
    --ligth-fg-0: #212121;
    --ligth-fg-1: #555;

    --dark-bg-0: #333333;
    --dark-bg-1: #4a4a4a;
    --dark-fg-0: #ededed;
    --dark-fg-1: #aaa;

    --fs-40: 1rem;
    --fs-50: 1.1rem;
    --fs-60: 1.4rem;
    --fs-70: 2rem;
    --fs-80: 4rem;

    --pad: 1rem;

    --accent-20: hsl(#{$accent-hue}, 66%, 63%);
    --accent-30: hsl(#{$accent-hue}, 58%, 56%);
    --accent-40: hsl(#{$accent-hue}, 50%, 50%);
    --accent-50: hsl(#{$accent-hue}, 45%, 45%);
    --accent-60: hsl(#{$accent-hue}, 50%, 40%);
    --accent-70: hsl(#{$accent-hue}, 50%, 35%);
    --accent-80: hsl(#{$accent-hue}, 50%, 30%);
}

@mixin light-theme {
    --bg-0: var(--ligth-bg-0);
    --bg-1: var(--ligth-bg-1);
    --bg-2: var(--dark-bg-1);
    --fg-0: var(--ligth-fg-0);
    --fg-1: var(--ligth-fg-1);
    --fg-2: var(--dark-fg-0);
    --bg-sel: var(--accent-60);
    --fg-sel: var(--ligth-bg-1);
    --fg-link: var(--accent-50);
}

@mixin dark-theme {
    --bg-0: var(--dark-bg-0);
    --bg-1: var(--dark-bg-1);
    --fg-0: var(--dark-fg-0);
    --fg-1: var(--dark-fg-1);
    --bg-sel: var(--accent-30);
    // --fg-sel: var(--dark-fg-0);
    --fg-link: var(--accent-20);
}

:root { @include light-theme; }
@media (prefers-color-scheme: dark) {
    :root { @include dark-theme; }
}

$width-th-1: 50rem;
$width-th-2: 70rem;

body.ligth { @include light-theme; }
body.dark { @include dark-theme; }

body {
    background-color: var(--bg-0);
    color: var(--fg-0);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

::selection {
    background-color: var(--bg-sel);
    color: var(--fg-sel);
}

h1 {
    font-size: var(--fs-80);
    font-weight: 700;
}
h2 {
    font-size: var(--fs-70);
    font-weight: 700;
}

button {
    background: none;
    font-size: 1em;
    border: none;
    color: var(--fg-0);
    cursor: pointer;
    padding: .4rem 1rem;
}

a {
    color: var(--fg-link);
}

@supports (-webkit-text-stroke: 2px red) {
    .text-outline {
        -webkit-text-stroke: 1px currentColor;
        -webkit-text-fill-color: transparent;
    }
}

.water-mark {
    --t: 0;
    position: fixed;
    top: 10rem;
    right: 0;
    z-index: -1;
    transform-origin: bottom right;
    transform: translateY(-100%) rotate(-90deg) translateX(calc(100% * var(--t)));
    font-size: 6rem;
    font-weight: 700;
    color: var(--fg-1);
    opacity: .07;
    width: max-content;
}

.bottom-line {
    padding-bottom: .25em;
    border-bottom: 2px solid #8883;
    margin-bottom: .45em;
}

svg.divider {
    display: block;
    width: 100%;
    height: auto;
}

@media (min-width: $width-th-1) {
    :root {
        --fs-40: 1rem;
        --fs-50: 1.15rem;
        --fs-60: 1.5rem;
        --fs-70: 2.2rem;
        --fs-80: 4.5rem;

        --pad: max(2rem, 1vw);
    }
    .center-lg {
        max-width: $width-th-1;
        margin-left: auto;
        margin-right: auto;
    }
    .water-mark {
        font-size: max(6rem, 15vw);
    }
}