@use "sass:map";

$weight-name: (
    200: "ExtraLight",
    300: "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold",
    700: "Bold",
    800: "ExtraBold"
);

@mixin font($weight, $italic: false) {
    $name: map.get($weight-name, $weight);

    @font-face {    
        font-family: 'Plus Jakarta Sans';
        font-weight: $weight;
        font-display: swap;
        @if $italic {
            font-style: italic;
            src: url("./font/italic/PlusJakartaSans-#{$name}.ttf") format('truetype');
        } @else {
            font-style: normal;
            src: url("./font/normal/PlusJakartaSans-#{$name}.ttf") format('truetype');
        }
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
}