@import "./base.scss";

img {
    max-width: 100%;
    height: auto;
}

main {
    padding: var(--pad);
    padding-top: max(6.5rem, var(--pad));
    min-height: 100vh;
}

p + p {
    margin-top: .9rem;
}

h2 {
    margin-bottom: .5em;
}
h3 {
    font-size: var(--fs-60);
    margin-bottom: .5em;
}

footer {
    padding: var(--pad);
    padding-top: 0;
    background-color: var(--bg-2);
    color: var(--fg-2);
    text-align: center;
}

article {
    margin-top: 8rem;
}
ol {
    padding-left: 2ch;
}
main {
    li {
        margin-top: 1rem;
    }
    li::marker {
        color: var(--accent-text);
        font-weight: 700;
    }
}
h3:not(:first-child) {
    margin-top: 1em;
}

$rocket-width: 5rem;
.with-rocket {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "title title"
        "main img"
        "aside aside";
    column-gap: .7rem;

    h2 { grid-area: title; }
    .main { grid-area: main; }
    aside { grid-area: aside; }
    .rocket { grid-area: img; }
    img {
        position: sticky;
        top: 15vh;
        max-height: 70vh;
        max-width: 4rem;
    }
}

@media (min-width: $width-th-1) {
    .with-rocket {
        grid-template-areas: 
            "title title"
            "main img"
            "aside img";
        column-gap: 2rem;
        
        .rocket {
            position: relative;
            width: $rocket-width;
        }
        img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: auto;
            max-width: $rocket-width;
        }
    }
    .two-cols {
        column-count: 2;
        column-gap: 3rem;
        
        p, li {
            break-inside: avoid;
        }
    }
}

@media (min-width: $width-th-2) {
    article {
        max-width: $large-width * 2;
        margin-left: auto;
        margin-right: auto;
    }
    .with-rocket {
        grid-template-columns: minmax(25ch, 1fr) $rocket-width minmax(25ch, 1fr);
        grid-template-areas: 
            "title title title"
            "main img aside";
        h3 { margin-top: 0; }
    }
}