@import "./base.scss";

img {
    max-width: 100%;
    height: auto;
}

main {
    padding: var(--pad);
    padding-top: max(6.5rem, var(--pad));
    min-height: 100vh;
    overflow-x: hidden;
}

p + p {
    margin-top: .9rem;
}

h2 {
    margin-bottom: .5em;
}
h3 {
    font-size: var(--fs-60);
    margin-bottom: .5em;
}

footer {
    padding: var(--pad);
    background-color: var(--bg-2);
    color: var(--fg-2);
    text-align: center;
}

article {
    margin-top: 8rem;

    ol {
        padding-left: 2ch;
    }
    li {
        margin-top: 1rem;
    }

    li::marker {
        color: var(--accent-text);
        font-weight: 700;
    }
    h3 {
        margin-top: 1em;
    } 
}

@media (max-width: $width-th-1) {
    article .rocket {
        float: right;
        margin-left: .7rem;
    }
    article img { width: 4rem; }
}

$rocket-width: 5rem;

@media (min-width: $width-th-1) {
    article {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: 
            "title title"
            "main img"
            "aside img";
        column-gap: 2rem;
        
        h2 { grid-area: title; }
        .main { grid-area: main; }
        aside { grid-area: aside; }
        .rocket {
            grid-area: img;
            width: $rocket-width;
            position: relative;
        }
        img {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
        }
    }
}

@media (min-width: $width-th-2) {
    article {
        grid-template-columns: minmax(25ch, $large-width) $rocket-width minmax(25ch, $large-width);
        grid-template-areas: 
            "title title title"
            "main img aside";
    }
}